.title{
    background-color: rgba(247,247,247,255);
}

input{
    width: 100%;
}


textarea{
    width: 100%;
}

.radio-card{
    background-color: rgba(108,117,125,255);
    text-align: center;
}

.form-check-input:checked {
    background-color: #000000 !important;
    border-color: #000000 !important;
}

.botones{
    background-color: rgba(247,247,247,255);
}

#envioError{
    color: red;
}
